<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sustainability"
        tools:targetApi="31">
        <activity
            android:name=".ResultsPage"
            android:exported="false" />
        <activity
            android:name=".model.InputData"
            android:exported="false" />
        <activity
            android:name=".PostLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.GetStarted"
            android:exported="true" />
        <activity android:name=".login.MainLogin" />
        <activity android:name="com.ams.sustainability.login.RestorePasswordActivity" />
        <activity android:name="com.ams.sustainability.login.RegisterActivity" />
        <activity android:name="com.ams.sustainability.login.LoginResult" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>